@use 'src/utils/variables' as *;

.nav {
    color: $secondary-color;
    border-bottom: $border-size $border-color solid;
    background: $background-color;
    display: flex;
    width: 100%;
    font-family: $normal-font;
}

.section {
    border-left: $border-color $border-size solid;

    display: flex;
    padding: 1.4rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.section i {
    cursor: pointer;
}

.section a {
    text-decoration: none;
    color: $primary-color;
    font-weight: normal;

    padding: 0.8rem;
}

.logo {
    justify-content: flex-start;
    flex-basis: calc(100% / 3);
    img {
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    img:hover {
        filter: hue-rotate(180deg);
        transform: rotate(180deg);
    }
    border: none;

    @media (max-width: 1279px) {
        gap: 2rem;
        flex-basis: calc(100% / 4);
    }
}

.links {
    flex-basis: calc(100% / 3);
    gap: 8rem;

    @media (max-width: 1279px) {
        gap: 2rem;
        flex-basis: calc(100% / 4);
    }

    @media (max-width: 598px) {
        display: none;
    }
}

.section.links a:first-of-type {
    color: $secondary-color;
}

.socials {
    flex-grow: 1;
}
