$primary-color: #2b9e90;
$secondary-color: #cececed4;
$background-color: #0d1f21;
$border-color: #0f2f2a;
$border-size: 2px;
$normal-font: 'Rubik', sans-serif;
$title-font: 'Space Grotesk', sans-serif;
