@use 'src/utils/variables' as *;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    height: 100vh;
    display: flex;
    background-color: $background-color;
    flex-direction: column;
    overflow: hidden;
    cursor: none;
}

#cursor {
    position: absolute;
    opacity: 1;
    mix-blend-mode: difference;
    filter: invert(1);
    pointer-events: none;
    z-index: 1;
}
